* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 10rem;
  background-color: slateblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 1fr 5fr;
  justify-content: space-around;
}

.card {
  width: 15rem;
  height: 15rem;
  background-color: darkcyan;
}

.add-btn {
  width: 10rem;
  height: 4rem;
}

footer {
  display: flex;
  height: 5rem;
  background-color: slateblue;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}
