@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@300&family=Quicksand:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Labrada", serif;
  font-family: "Quicksand", sans-serif;
}

header {
  height: 10rem;
  background-color: slateblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 2fr 5fr;
  justify-content: space-around;
  padding: 2rem;
}

form {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: repeat(4, 2rem);
  padding: 1rem;
  row-gap: 0.5rem;
  column-gap: 5px;
}

.libraryCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  padding: 1rem;
}

.card {
  display: grid;
  width: 15rem;
  height: 15rem;
  border: solid 5px #8865e7;
  border-radius: 10px;
  align-items: center;
  justify-items: center;
}

.bookInfo {
  display: grid;
  gap: 5px;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.addBookBtn {
  width: 10rem;
  height: 4rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(95, 95, 236, 0.848) 0%,
    rgb(67, 26, 192) 37%,
    rgba(0, 59, 255, 0.9037990196078431) 100%
  );
  color: white;
  font-size: larger;
  font-weight: bolder;
  border: none;
  border-radius: 15px;
}

.addBookBtn:hover {
  border: 5px solid #8865e7;
}

.addBookForm {
  visibility: hidden;
}

footer {
  display: flex;
  height: 5rem;
  background-color: slateblue;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
}
